<!DOCTYPE html>

<ion-content>
<ion-list>
  <ion-item *ngFor="let case of cases | filter:mysearch" (click)="showDetail(case)">
    <ion-avatar>

      <img src="https://picsum.photos/100/100?random= + {{case.id}}"/>
    </ion-avatar>
    <ion-label>
      <h1>
        {{case.userName}}
        <ion-icon style="float: right;" name="ellipsis-horizontal-outline"></ion-icon><br>
        <ion-badge slot="start">{{case.hashtag}}</ion-badge>
        <ion-icon color="success" style="float: right;" name="checkmark-outline"></ion-icon>
      </h1>
      <p><br>{{case.content}}</p>
    </ion-label>
  </ion-item>


</ion-list>

</ion-content>
