ion-title {
  font-family: singleday;
  width: 150px;
  height: 36px;
  font-weight: 900;
  font-size: 35px;
  color: #606c70;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.0035px #ffff; //外框
  padding: 10px;
}

ion-button{
  color: #606c70;
  --background: #9DD3A8;
}

a{
  color: #606c70;
  text-decoration: underline;
}

.otherlogin{
  text-align: center;
}
