<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<ion-header>
  <ion-toolbar>
    <ion-title>BUDDY!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item class="ion-margin-vertical">
    <ion-label>帳號</ion-label>
    <ion-input placeholder="Account" [(ngModel)]="account">
    </ion-input>
  </ion-item>

  <ion-item class="ion-margin-vertical">
    <ion-label>密碼</ion-label>
    <ion-input placeholder="Password" [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <ion-item *ngIf="!validUser" style="color: red;">
    Incorrect password!!!
  </ion-item>

  <div class="ion-margin-vertical">
    <ion-button (click)="onSignin()" style="width: 100%; --border-radius: 20px; font-weight: 900; font-size: 18px;">Sign In</ion-button>
    <div style="height: 20px; margin: 10px; margin-bottom: 20px;" >
      <ion-button style="left: 20%; position: absolute;" (click)="metamask()">註冊</ion-button>
      <ion-button style="right: 20%; position: absolute;">忘記密碼</ion-button>
    </div>
  </div>

  <ion-card style="border: solid; border-color: #CCCCBF; border-radius: 20px; margin: 0px; width: 100%;">
    <ion-item class="otherlogin">
      <ion-label>
        <ion-icon name="logo-whatsapp"></ion-icon>
        LINE 登入
      </ion-label>
    </ion-item>

    <ion-item href="#" class="otherlogin">
      <ion-label>
        <ion-icon name="logo-google"></ion-icon>
        Gmail 登入
      </ion-label>
    </ion-item>

    <ion-item href="#" class="otherlogin" style="--border-style: none;">
      <ion-label>
        <ion-icon name="logo-facebook"></ion-icon>
        Facebook 登入
      </ion-label>
    </ion-item>

  </ion-card>


  <!-- <div class="ion-margin-vertical"> -->

  <!-- </div> -->
</ion-content>

