<!DOCTYPE html>

<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-title>BUDDY!</ion-title>
      </ion-col>
      <ion-col size="4" offset="2">
        <ion-badge class="coinbar">
          <img src="../assets/img/B_adobespark.png" style="float: left; width: 25px; height: 25px;">
          350
        </ion-badge>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default Segment -->
  <ion-segment (ionChange)="segmentChanged($event)" color="secondary">
    <ion-segment-button value="friends">
      <ion-label>收藏</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>執行中</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Segment with anchors -->
  <ion-segment (ionChange)="segmentChanged($event)" color="secondary">
    <ion-segment-button value="dogs">
      <ion-label>我的貼文</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cats">
      <ion-label>已完成</ion-label>
    </ion-segment-button>
  </ion-segment>


<!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-avatar>

      <img src="../../assets/img/[removal.ai]_tmp-60ed2eadc397b.png">
    </ion-avatar>
    <ion-label>
      <h1>
        Eden
        <ion-icon style="float: right;" name="ellipsis-horizontal-outline"></ion-icon><br>
        <ion-badge slot="start">11</ion-badge>
        <ion-badge slot="end">22</ion-badge>
        <ion-icon color="success" style="float: right;" name="checkmark-outline"></ion-icon>
      </h1>
      <p><br>想學java物件導向, 有學過C語言</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar><img src="../../assets/img/[removal.ai]_tmp-60ed2eadc397b.png"></ion-avatar>
    <ion-label>
      <h1>
        Chao
        <ion-icon style="float: right;" name="ellipsis-horizontal-outline"></ion-icon><br>
        <ion-badge color="primary" slot="start">11</ion-badge>
        <ion-icon color="danger" style="float: right;" name="close-outline"></ion-icon>
      </h1>
      <p><br>想學C語言, 從頭開始教</p>
    </ion-label>
  </ion-item>

  <ion-item>
  <ion-avatar><img src="../../assets/img/[removal.ai]_tmp-60ed2eadc397b.png"></ion-avatar>
    <ion-label>
      <h1>
        Ohhh
        <ion-icon style="float: right;" name="ellipsis-horizontal-outline"></ion-icon><br>
        <ion-badge slot="start" color ="danger">33</ion-badge>
        <ion-icon color="danger" style="float: right;" name="close-outline"></ion-icon>
      </h1>
      <p><br>高中歷史, 需輔導孩子完成參考書, 背誦口訣</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar><img src="../../assets/img/[removal.ai]_tmp-60ed2eadc397b.png"></ion-avatar>
    <ion-label>
      <h1>
        Tzu
        <ion-icon style="float: right;" name="ellipsis-horizontal-outline"></ion-icon><br>
        <ion-badge slot="start" color="success">44</ion-badge>
        <ion-icon color="success" style="float: right;" name="checkmark-outline"></ion-icon>
      </h1>
      <p><br>高一數學複習, 今年升高二, 暑期輔導</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar><img src="../../assets/img/[removal.ai]_tmp-60ed2eadc397b.png"></ion-avatar>
    <ion-label>
      <h1>
        Popo
        <ion-icon style="float: right;" name="ellipsis-horizontal-outline"></ion-icon><br>

          <ion-badge slot="start"color="warning">55</ion-badge>
          <ion-icon color="danger" style="float: right;" name="close-outline"></ion-icon>
      </h1>
      <p><br>英文聽說讀寫, 準備多益</p>
    </ion-label>
  </ion-item>


</ion-list>

</ion-content>
