.coinbar {
  background-color: #76C893;
  width: 70px;
  height: 25px;
  border-radius: 10px;
  font-family: sirinstencil;
  font-size: 5px;

  // float: left;
}

ion-select {
  width: 50px;
  height: 50px;

  /* Applies to the value and placeholder color */
  color: #76C893;
  background-color: #76C893;
  /* Set a different placeholder color */
  --placeholder-color: #76C893;

  /* Set full opacity on the placeholder */
  --placeholder-opacity: 1;
}

.ion-padding {
  --padding-start: var(--ion-padding, 5px);
  --padding-end: var(--ion-padding, 5px);
  --padding-top: var(--ion-padding, 5px);
  --padding-bottom: var(--ion-padding, 16px);
}

ion-card{
  height: 80%;
  width: 100%;
  margin: 0px;
  border-radius: 10px;
  border: solid #CCCCBF;
  ion-label {
    margin-left: 10px;
    margin-top: 0px;
    font-size: 25px;
    font-family: singleday;
  }
}


.hashtag{
  margin-left: 20%;
  color: #606c70;
  background-color: #CDDAFD;
  height: 25px;
  border-radius: 10px;
}
ion-card-content{
  margin-left: 10%;
  p{
    font-size: 20px;
    color: #606c70;
  }
}
