<!DOCTYPE html>
<app-head></app-head>

<ion-content>
  <a (click)="goback()" style="color: #606c70">
    <ion-icon name="return-down-back-outline" style="width: 30px; height: 30px;"></ion-icon>
    BACK
  </a>

    <ion-card>
      <ion-item style="--border-style:none;">

          <ion-avatar style="width: 50px; height: 50px;">
                <img style=" border-radius: 50%;" src="https://picsum.photos/id/69/100/100">
          </ion-avatar>
          <ion-card-content>

              <ion-input [(ngModel)]="title" placeholder="請輸入標題" ></ion-input>

          </ion-card-content>

          <ion-chip class="coinbar">
            <img src="../assets/img/B_adobespark.png" style="float: left; width: 20px; height: 20px;">
              <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="pay">
                <ion-select-option value="20">20</ion-select-option>
                <ion-select-option value="30">30</ion-select-option>
                <ion-select-option value="40">40</ion-select-option>
                <ion-select-option value="50">50</ion-select-option>
              </ion-select>
          </ion-chip>
        </ion-item>

      <ion-badge class="hashtag">
        <ion-input placeholder="#Add..." style="width: 50px; height: 20px;" [(ngModel)]="hashtag"></ion-input>
      </ion-badge>

      <ion-card-content>
        <ion-textarea [(ngModel)]="content" rows="10 " cols="20" placeholder="Enter any notes here..."></ion-textarea>
      </ion-card-content>

      <div style="position: absolute; bottom: 5%; left: 2%;">
        <ion-col>
            <p>教學方式</p>
            <ion-button color= light size="default">
            <ion-select  okText="Okay" cancelText="Dismiss">
              <ion-select-option value="1">面對面</ion-select-option>
              <ion-select-option value="2">線上教學</ion-select-option>
              <ion-select-option value="3">視訊</ion-select-option>
            </ion-select>
          </ion-button>
        </ion-col>
      </div>

      <div style="position: absolute; bottom: 2%; right: 5%; " >
        <ion-col>
          <ion-item class="cardbox">
            <ion-button color= light size="default" (click)="addcase()">
              發布
              <ion-icon name="arrow-redo-outline" style="width: 20px; height: 20px;"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item class="cardbox">
            <ion-button color= light size="default">
              取消
              <ion-icon name="close-outline" style="width: 20px; height: 20px;"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </div>

    </ion-card>

  </ion-content>

