ion-title {
  font-family: singleday;
  width: 150px;
  height: 36px;
  font-weight: 900;
  font-size: 35px;
  color: #606c70;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.0035px #ffff; //外框
  padding: 10px;
}

.coinbar {
  background-color: #809BCE;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  font-family: sirinstencil;
  font-size: 20px;
  left: auto;
}

ion-segment{
  border: solid #CCCCBF;
  border-radius: 20px;
  margin-top: 5px;
  height: 30px;
}

ion-segment-button {
  --background-checked: #ECE4DB;
  --color-checked: none;
  font-size: 15px;
  min-height: 30px;
}

ion-searchbar{
  --border-radius: 20px;
  // --background: #FEC89A;
}
