<!DOCTYPE html>

<ion-content>
  <ion-list>
    <!-- <a [routerlink]="[/detail]"> -->
      <ion-item *ngFor="let case of cases" >
        <ion-avatar  style="width: 50px; height: 50px; margin-right: 15px;"><img
            src="../../assets/img/[removal.ai]_tmp-60ed2eadc397b.png"></ion-avatar>
        <ion-label>
          <p>{{case.userName}}</p>
          <ion-badge>{{case.hashtag}}</ion-badge>
          <ion-icon style="float: right;" name="ellipsis-horizontal-outline"></ion-icon><br>
          <ion-badge slot="start" style="float: right;" color="danger">2</ion-badge>
          <p>{{case.content}}</p>
        </ion-label>
      </ion-item>
    <!-- </a> -->
  </ion-list>
</ion-content>
