<!DOCTYPE html>

<ion-content>
  <ion-list>
    <!-- <a [routerlink]="[/detail]"> -->
      <ion-item *ngFor="let case of cases | filter:othersearch">
        <ion-avatar>
          <img src="https://picsum.photos/100/100?random= + '{{case.id}} + 10'" />
        </ion-avatar>
        <ion-label>
          <h1>{{case.userName}}<br>
            <ion-badge>{{case.hashtag}}</ion-badge>
            <ion-icon *ngIf="case.id % 3 == 0" color="danger" style="float: right;" name="close-outline"></ion-icon>
            <ion-icon *ngIf="case.id % 3 != 0" color="success" style="float: right;" name="checkmark-outline"></ion-icon>
          </h1>
          <p><br>{{case.content}}</p>
        </ion-label>
      </ion-item>
    <!-- </a> -->
  </ion-list>
</ion-content>
