<!DOCTYPE html>

<ion-content>
  <ion-item style="padding: 10px; --border-style:none;">
    <img style="height: 100px; width: 100px; border-radius: 50%;" src="https://picsum.photos/id/69/100/100">
    <p style="font-size: 28px; margin: 0px 8px;" class="sir">Eden Tsai<br><p style="font-size: 15px; margin: 0px; opacity: 0.5;">大學生</p></p>
    <p style="float: right; font-size: 18px; margin-left: 20px;">
      <ion-icon name="star" style="height: 50px; width: 50px; color: #fce38a;"></ion-icon>
      <br>4.5 / 5
    </p>
  </ion-item>

  <ion-card>
    <ion-item style="height: 70%;">
      <p class="sir" style="font-size: 30px; padding-right: 65px;">BUDDY COIN</p>
      <img class="buddy" src="../../assets/img/B_adobespark.png">
      <p style="font-size: 28px;" class=" sir">350</p>
    </ion-item>

    <ion-row >
      <ion-col style="border-right: solid #CCCCBF 1px;">
        <ion-item class="cardbox">
          <ion-icon name="enter-outline"></ion-icon>
          <ion-label>儲值</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item href="#" class="cardbox">
          <ion-icon name="swap-horizontal-outline"></ion-icon>
          <ion-label>轉讓</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="set-bar">
    <ion-item class="setting" [routerLink]="['../../setting/coin-manage']" routerLinkActive="router-link-active">
      <ion-icon name="server-outline"></ion-icon>
      <ion-label>BUDDY COIN管理</ion-label>
    </ion-item>

    <ion-item [routerLink]="['../../setting/personal-manage']" routerLinkActive="router-link-active"  class="setting">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>個人資料設定</ion-label>
    </ion-item>

    <ion-item [routerLink]="['../../setting/pay-manage']" routerLinkActive="router-link-active"  class="setting">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>付款帳號設定</ion-label>
    </ion-item>

    <ion-item [routerLink]="['../../setting/account-manage']" routerLinkActive="router-link-active"  class="setting">
      <ion-icon name="sync-outline"></ion-icon>
      <ion-label>帳號綁定/設定</ion-label>
    </ion-item>

    <ion-item [routerLink]="['/signin']" routerLinkActive="router-link-active"  class="setting">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>登出</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
