<!DOCTYPE html>


<ion-content>

  <ion-segment [(ngModel)]="mode">
    <!-- Default Segment -->
    <ion-segment-button style="border-right: solid #CCCCBF" value="un-paired">
      <ion-label>已發布</ion-label>
    </ion-segment-button>
    <ion-segment-button value="paired">
      <ion-label>已媒合</ion-label>
    </ion-segment-button>
    <ion-segment-button value="done" style="border-left: solid #CCCCBF">
      <ion-label>已完成</ion-label>
    </ion-segment-button>
  </ion-segment>
<!-- List of Text Items -->
  <ion-searchbar [(ngModel)]="mysearch"></ion-searchbar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed"[routerLink]="['../../mycase/addcase']" routerLinkActive="router-link-active" >
    <ion-fab-button style="--background: #9DD3A8; --color: #606c70">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-mycase-done *ngIf="mode == 'done'" [mysearch]="mysearch"></app-mycase-done>
  <app-mycase-unpaired *ngIf="mode == 'un-paired'" [mysearch]="mysearch"></app-mycase-unpaired>
  <app-mycase-paired *ngIf="mode == 'paired'" [mysearch]="mysearch"></app-mycase-paired>

</ion-content>
