<!DOCTYPE html>
<ion-header>
  <app-head></app-head>
</ion-header>


<ion-content *ngIf="case" class="ion-padding">


  <ion-card>
    <ion-item style="--border-style:none;">
      <ion-avatar style="width: 50px; height: 50px;">
        <img src="../../assets/img/[removal.ai]_tmp-60ed2eadc397b.png">
      </ion-avatar>
      <ion-label >
        {{case.userName}}
        <p style="float: right;">2小時前</p>
        <ion-badge class="coinbar">
          <img src="../assets/img/B_adobespark.png" style="float: left; width: 20px; height: 20px;">
          {{case.pay}}
        </ion-badge>
      </ion-label>
    </ion-item>
    <ion-badge class="hashtag">
      {{case.hashtag}}
    </ion-badge>
    <ion-card-content>
      <p>{{case.content}}</p>
    </ion-card-content>

  </ion-card>
</ion-content>
