h2 {
  font-size: 20%;
  color: #db1f1f
}

ion-card-subtitle {
  font-size: 50px;
  margin-left: 30px;

}

p {
  font-size: 20px;
}
h1 {
  font-size: 5px;
}

ion-button {
  width: 90%;
  margin-left: 15px;
}
