h2 {
  font-size: 15px;
  color: #db1f1f
}

.top {
  height: 40%;
}

ion-card-subtitle {
  font-size: 30px;
  margin-left: 50px;

}

p {
  font-size: 20px;
}
h1 {
  font-size: 5px;
}

ion-button {
  width: 90%;
  margin-left: 15px;
}
ion-input {
  font-size: 20px;
}
