ion-button {
  background-color: #76C893;
  width: 25%;
  height: 25px;
  border-radius: 10px;
  font-family: sirinstencil;
  font-size: 15px;
  left: auto;
  margin-left: 20%;
  // float: left;
}
ion-item {

  height: 80px;
}
ion-card-subtitle {
  font-size: 40px;
  left: auto;
}

ion-card-title {

  font-size: 40px;
  p {
    font-size: 20px;

  }

}
