<!DOCTYPE html>

<!-- <ion-content> -->
  <ion-list>
    <!-- <a [routerlink]="[/detail]"> -->
      <ion-item *ngFor="let case of cases"  (click)="showDetail(case)">
        <ion-avatar  style="width: 60px; height: 60px; margin-right: 15px;"><img
            src="../../assets/img/[removal.ai]_tmp-60ed2eadc397b.png"></ion-avatar>
        <ion-label>
        <h1>
          {{case.userName}}
          <ion-icon style="float: right; color: #F4ACB7;" name="heart-outline"></ion-icon><br>
          <ion-badge slot="start">{{case.hashtag}}</ion-badge>
        </h1>
        <p><br>{{case.content}}</p>
        </ion-label>
      </ion-item>
    <!-- </a> -->
  </ion-list>
<!-- </ion-content> -->
