<!DOCTYPE html>
<ion-header>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-title>BUDDY!</ion-title>
        </ion-col>
        <ion-col size="4" offset="2">
          <ion-badge class="coinbar">
            <img src="../assets/img/B_adobespark.png" style="float: left; width: 25px; height: 25px;">
            300
          </ion-badge>
        </ion-col>
      </ion-row>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar #search (ionChange)="_ionchange($event)" debounce="500"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of searcheditem">
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
